<div class='left'>
  <div id="left-column" class="plaintext">
    <article>
      <header>
        <h3>Plaintext</h3>
      </header>
      <div class="content">
        <textarea 
          placeholder="Enter plaintext" 
          [ngModel]="getCipherDisplayText(plainDisplayText, shift)"
          (ngModelChange)="convertToCiphertext($event)"
          (ngModelChange)="getCipherDisplayText($event)"
        
        >
        
        </textarea>
      </div>
      <!-- {{getCipherDisplayText(plaintext, shift)}}  -->
    </article>
  </div>
</div>
